<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta property="og:title" content="Hooman Hashemi"/>
    <meta property="og:description" content="I am Hooman Hashemi. I am currently pursuing B.Sc. at Computer Engineering Department of Sharif University of Technology."/>
    <meta property="og:site_name" content="Homepage"/>
    
    
    
    
    
    	<meta name="utc_offset" content="+03:30"/>
    	<title>Hooman Hashemi</title>
        <meta name="description" content="I am Hooman Hashemi. I am currently pursuing B.Sc. at Computer Engineering Department of Sharif University of Technology." />
        <meta name="keywords" content="Hooman Hashemi Sharif Homepage CE hhoomn Olympiad ACM Research ML rank :))" />
	<meta name="robots" content="index, follow" />
	
	<link rel="stylesheet" type="text/css" href="src/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="src/w3.css"></link>
	<link rel="stylesheet" type="text/css" href="src/style.css"></link>
	<script type="text/javascript" src="src/jquery.js"></script>
	<script type="text/javascript" src="src/jquery-ui.js"></script>
	<script type="text/javascript" src="src/angular.min.js"></script>
	<script type="text/javascript" src="src/bootstrap.min.js"></script>
</head>
<script type="text/javascript">
	$(document).ready(function(){   // handler in
		$("#navigation li").hover(function(){
			$(this).children("a").animate({
				color:"#6E5BAA"
				},200);	
			},
			function(){	// handler out
			$(this).children("a").animate({color:"#444"},200);	
			
		});
		$("#navigation .dropdown").hover(function(){
			$(this).dropdown("toggle");
			obj=$(this).children(".dropdown-menu");
			obj.animate({
				marginTop:"0px"
				},{duration:100,queue:false});	
			obj.fadeIn(100);	
			
			},function(){
			obj=$(this).children(".dropdown-menu");
			obj.animate({
			marginTop:"-10px"
			},{duration:100,queue:false});	
			obj.fadeOut(100);
			});
		$(".social-list a").hover(function(){
			$(this).css("opacity","1")	
			},
			function(){	// handler out
			$(this).css("opacity","0.8");	
			
		});


		$("#scroll-to").click(function(e) {
		    e.preventDefault();
		    $('html, body').animate({
			scrollTop: $("#contact-wrapper").offset().top
		    }, 1000);
		});
		
		$("#scroll-to").hover(function(){
			$(this).animate({
				color:"#2275d7"
				},200);	
			},
			function(){	// handler out
			$(this).animate({color:"#4A90E2"},200);	
			
		});
//		$("body").delay(100).animate({opacity:1.0},100);
	});
</script>
<body class="home-page">
	<nav id="navigation">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#"><b>My Homepage</b></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="about.html">About me</a></li>
		<li><a href="research.html">Research</a></li>
		
		
		<li><a class="disabled"  href="nopage.html">Timeline</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
		      <li>
		      </li>
	      </ul>
	    </div>
	</nav>
    <div class="col-sm-12" id="wrapper">
        <div class="col-sm-12">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <div class="col-sm-12">
			<div class="col-sm-6" style="padding-right:50px">
				<video id="vid" width="90%" class="w3-round w3-card-2" autoplay controls>
				  <source src="downloads/face.mp4" type="video/mp4">
				Your browser does not support the video tag.
				</video>
				<script>
				$(document).ready(function(){
					setTimeout(function(){
						video1 = $("#vid").get(0)
						video1.play()},2000)
				})
				</script>


		    		<!--<img src="src/me.JPG" alt="Lights" style="width:100%" class="w3-round w3-card-2">-->
			</div>
			
			<div class="col-sm-6 w3-card-2" id="content">
				<h6>Hooman Hashemi</h6>
				<h2>Welcome to my homepage</h2>
				<p>I am Hooman Hashemi. I am currently pursuing M.Sc. at Computer Science Department of Sharif University of Technology.</p>
				<p>My research domains is mostly around Computer Vision. I also like complicated inference methods though I don't know which field studies that (e.g. baysian inference or message passing like inferences in deep networks).  I also study other fields of CS like AI, Graphical models and Theoretical Computer Science.</p>
				<p>The leftmost person in the picture is me.</p>

				
				<a class="button col-sm-5" href="downloads/CV.pdf" style="float:left">Download my CV</a>
				<div class="col-sm-12" >
				<div class="col-sm-5" >
				<a id="scroll-to" href="#" style="text-align:left">See My Contact Info</a>
				</div>
				</div>
			</div>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>

		
    </div>

    <div class="col-sm-12" id="social-wrapper">
	<section class="social">
	  <ul class="social-list">
	    <li><a class="gmail" href="mailto:hashemih@alumni.cs.ubc.ca">gmail</a></li>
	    <li><a class="twitter" href="https://twitter.com/hhoomn">twitter</a></li>
	    <li><a class="gp" href="https://plus.google.com/115655333990958106475">google+</a></li>
	    <li><a class="instagram" href="https://www.instagram.com/_hhoomn/">instagram</a></li>
	    <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100009155061362">facebook</a></li>
	    <!--<li><a class="go" href="/go">linkedin</a></li>-->
	  </ul>
	</section>
	    
    </div>
    <div class="col-sm-12" id="contact-wrapper">
	    <div class="col-sm-1"></div>
	    <div class="col-sm-11">
		    <h2> Contact info</h2>
	    
	    <div class="col-sm-6" style="margin-top:30px">
		<p>
		Tel:  +98 (912) 475 9082
		</p>
	    </div>
	    <div class="col-sm-6" style="margin-top:30px">
		<p>
		Sharif University of Technology.
		</p>
	    </div>
	    <div class="col-sm-6">
		<p>
		Email:  hohashemi@ce.sharif.edu
		</p>
	    </div>
	    <div class="col-sm-6">
		<p>
		Azadi Avenue, Tehran, Iran 
		</p>
	    </div>
	    <div class="col-sm-6">
		    Gmail:  hoomhashemi@gmail.com
	    </div>
	    
	    <div class="col-sm-6">
		    [Postal Code: 11155-11365]
	    </div>

	    </div>
	     
    </div> 

	
	<!--
	<div ng-controller="table as tab">
	<div width="300px" height="700px" align=center style="margin-top:70px;margin-right=auto;margin-left=auto">
		<input ng-change="tab.onchange()" ng-model="tab.nu" type="number" value="6"></input>
		<br/>
		<br/>
		<br/>
		<ul>
			<li ng-repeat="i in tab.items">
				<input type="number" value="{{i}}"></input> <input type="number" disabled></input>
			</li>
		<ul>
	</div>
	</div>
	-->
</body>
</html>
