<html>
<head>
	<link rel="stylesheet" type="text/css" href="src/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="src/w3.css"></link>
	<link rel="stylesheet" type="text/css" href="src/style.css"></link>
	<script type="text/javascript" src="src/jquery.js"></script>
	<script type="text/javascript" src="src/jquery-ui.js"></script>
	<script type="text/javascript" src="src/angular.min.js"></script>
	<script type="text/javascript" src="src/bootstrap.min.js"></script>
</head>
<script type="text/javascript">
	$(document).ready(function(){   // handler in
		$("#navigation li").hover(function(){
			$(this).children("a").animate({
				color:"#6E5BAA"
				},200);	
			},
			function(){	// handler out
			$(this).children("a").animate({color:"#444"},200);	
			
		});
		$("#navigation .dropdown").hover(function(){
			$(this).dropdown("toggle");
			obj=$(this).children(".dropdown-menu");
			obj.animate({
				marginTop:"0px"
				},{duration:100,queue:false});	
			obj.fadeIn(100);	
			
			},function(){
			obj=$(this).children(".dropdown-menu");
			obj.animate({
			marginTop:"-10px"
			},{duration:100,queue:false});	
			obj.fadeOut(100);
			});
		$(".social-list a").hover(function(){
			$(this).css("opacity","1")	
			},
			function(){	// handler out
			$(this).css("opacity","0.8");	
			
		});
	});
</script>
<body class="home-page">
	<nav id="navigation">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#"><b>My Homepage</b></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About me</a></li>
		<li><a href="#">Research</a></li>
		<li class="dropdown">
		  <a class="dropdown-toggle" href="#">Other <span class="caret"></span></a>
		  <ul class="dropdown-menu">
		    <li><a href="#">Activities</a></li>
		    <li><a href="#">Professional Experiences</a></li>
		    <li><a href="#">Hobbies</a></li>
		  </ul>
		</li>
		
		<li><a href="#">Timeline</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
		      <li>
		      </li>
	      </ul>
	    </div>
	</nav>
    <div class="col-sm-12" id="wrapper">
        <div class="col-sm-12">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <div class="col-sm-12">
			<div class="col-sm-6" style="padding-right:50px">
		    		<img src="src/42_proto.jpg" alt="Lights" style="width:100%" class="w3-round w3-card-2">
			</div>
			
			<div class="col-sm-6" id="content">
				<h6>Hooman Hashemi</h6>
				<h2>Welcome to my homepage</h2>
				<p>I am Hooman Hashemi. I am currently pursuing B.Sc. at Computer Engineering Department of Sharif University of Technology.</p>
				<p>My research interests and domains of study are mostly around titles like Machine Learning, Computer Vision, Design and Analysis of Algorithms and Theoretical Computer Science.</p>
				<p>The rightmost person in the picture is me.</p>

				<a class="button col-sm-5" href="downloads/CV.pdf">Download my CV</a>
			</div>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>

		
    </div>

    <div class="col-sm-12" id="social-wrapper">
	<section class="social">
	  <ul class="social-list">
	    <li><a class="gmail" href="mailto:hoomhashemi@gmail.com">gmail</a></li>
	    <li><a class="twitter" href="https://twitter.com/hhoomn">twitter</a></li>
	    <li><a class="gp" href="https://plus.google.com/115655333990958106475">google+</a></li>
	    <li><a class="instagram" href="https://www.instagram.com/_hhoomn/">instagram</a></li>
	    <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100009155061362">facebook</a></li>
	    <!--<li><a class="go" href="/go">linkedin</a></li>-->
	  </ul>
	</section>
	    
    </div>

	
	<!--
	<div ng-controller="table as tab">
	<div width="300px" height="700px" align=center style="margin-top:70px;margin-right=auto;margin-left=auto">
		<input ng-change="tab.onchange()" ng-model="tab.nu" type="number" value="6"></input>
		<br/>
		<br/>
		<br/>
		<ul>
			<li ng-repeat="i in tab.items">
				<input type="number" value="{{i}}"></input> <input type="number" disabled></input>
			</li>
		<ul>
	</div>
	</div>
	-->
</body>
</html>
